:root {
  --black-primary: rgba(22, 21, 19, 1);
  --black-secondary: rgba(28, 28, 34, 1);
  --white-primary: rgba(240, 242, 245, 1);
  --white-secondary: rgba(255, 255, 255, 1);
  --heading-1-font-family: "Bai Jamjuree", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 72px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 125%;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Bai Jamjuree", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 64px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 125%;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Bai Jamjuree", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 56px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 125%;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Bai Jamjuree", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 48px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 125%;
  --heading-4-font-style: normal;
  --heading-5-font-family: "Bai Jamjuree", Helvetica;
  --heading-5-font-weight: 700;
  --heading-5-font-size: 32px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 125%;
  --heading-5-font-style: normal;
  --heading-6-font-family: "Bai Jamjuree", Helvetica;
  --heading-6-font-weight: 700;
  --heading-6-font-size: 24px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 125%;
  --heading-6-font-style: normal;
  --CTA-heading-font-family: "Bai Jamjuree", Helvetica;
  --CTA-heading-font-weight: 700;
  --CTA-heading-font-size: 84px;
  --CTA-heading-letter-spacing: 0px;
  --CTA-heading-line-height: 100%;
  --CTA-heading-font-style: normal;
  --para-18-px-font-family: "Inter", Helvetica;
  --para-18-px-font-weight: 400;
  --para-18-px-font-size: 18px;
  --para-18-px-letter-spacing: 0px;
  --para-18-px-line-height: 30px;
  --para-18-px-font-style: normal;
  --para-16-px-font-family: "Inter", Helvetica;
  --para-16-px-font-weight: 400;
  --para-16-px-font-size: 16px;
  --para-16-px-letter-spacing: 0px;
  --para-16-px-line-height: 24px;
  --para-16-px-font-style: normal;
  --big-para-font-family: "Inter", Helvetica;
  --big-para-font-weight: 600;
  --big-para-font-size: 32px;
  --big-para-letter-spacing: 0px;
  --big-para-line-height: 38px;
  --big-para-font-style: normal;
  --mobile-big-para-font-family: "Inter", Helvetica;
  --mobile-big-para-font-weight: 600;
  --mobile-big-para-font-size: 24px;
  --mobile-big-para-letter-spacing: 0px;
  --mobile-big-para-line-height: 125%;
  --mobile-big-para-font-style: normal;
}
:root {
  --black-primary: rgba(22, 21, 19, 1);
  --white-primary: rgba(240, 242, 245, 1);
  --white-secondary: rgba(255, 255, 255, 1);
  --heading-2-font-family: "Bai Jamjuree", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 64px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 125%;
  --heading-2-font-style: normal;
  --para-18-px-font-family: "Inter", Helvetica;
  --para-18-px-font-weight: 400;
  --para-18-px-font-size: 18px;
  --para-18-px-letter-spacing: 0px;
  --para-18-px-line-height: 30px;
  --para-18-px-font-style: normal;
  --heading-3-font-family: "Bai Jamjuree", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 56px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 125%;
  --heading-3-font-style: normal;
  --heading-5-font-family: "Bai Jamjuree", Helvetica;
  --heading-5-font-weight: 700;
  --heading-5-font-size: 32px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 125%;
  --heading-5-font-style: normal;
  --para-16-px-font-family: "Inter", Helvetica;
  --para-16-px-font-weight: 400;
  --para-16-px-font-size: 16px;
  --para-16-px-letter-spacing: 0px;
  --para-16-px-line-height: 24px;
  --para-16-px-font-style: normal;
  --big-para-font-family: "Inter", Helvetica;
  --big-para-font-weight: 600;
  --big-para-font-size: 32px;
  --big-para-letter-spacing: 0px;
  --big-para-line-height: 38px;
  --big-para-font-style: normal;
  --heading-4-font-family: "Bai Jamjuree", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 48px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 125%;
  --heading-4-font-style: normal;
  --CTA-heading-font-family: "Bai Jamjuree", Helvetica;
  --CTA-heading-font-weight: 700;
  --CTA-heading-font-size: 84px;
  --CTA-heading-letter-spacing: 0px;
  --CTA-heading-line-height: 100%;
  --CTA-heading-font-style: normal;
}
